<div class="jumbotron">
  <h1 class="jumbo-title">Heading</h1>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
   Aliquam sagittis ullamcorper massa vel vehicula. Proin sodales a mauris in cursus. Nullam libero sem,
   vulputate ut arcu nec, pharetra tincidunt mauris. Duis nec condimentum neque, sed viverra ex. Mauris condimentum,
   leo eleifend lobortis sodales, nunc orci tincidunt orci, et luctus erat libero ut elit. Nunc blandit ipsum elit,
   id pellentesque neque molestie vel. Curabitur dapibus nunc quis mi ultricies interdum.
   Vivamus malesuada libero eget sem vulputate, eu venenatis sapien facilisis. Nullam placerat mi mauris.
   </p>
</br>
  <a href="#" class="button rounded">
    Test Button
  </a>
</div>

<!--CSS
.jumbotron{
  background-color: #cccccc;
  text-align: left;
  font-family: 'Khula', sans-serif;
  color: black;
  padding: 35px;
  width: 800px;
}

.jumbo-title{
font-size:40px;
}
-->
