<div class="header-elm">
  <img src="Images/Canyon.jpg" alt="Canyon">
  <h1 class="header-title">Heading</h1>
  <p class="header-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Aliquam sagittis ullamcorper massa vel vehicula. Proin sodales a mauris in cursus. Nullam libero sem,
  vulputate ut arcu nec, pharetra tincidunt mauris. Duis nec condimentum neque, sed viverra ex. Mauris condimentum,
  leo eleifend lobortis sodales, nunc orci tincidunt orci, et luctus erat libero ut elit.</p>
</div>

<!--CSS
.header-elm{
   position: relative;
}

.header-title{
   position: absolute;
   top:210px;
   width: 100%;
   color: white;
   font-family: 'Khula', sans-serif;
   text-align: left;
   padding-left: 20px;
}

.header-text{
   position: absolute;
   top:270px;
   width: 900px;
   color: white;
   font-family: 'Khula', sans-serif;
   text-align: left;
   padding-left: 20px;
}
-->
