.button{
  background-color: #777777;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: sans-serif;
  padding: 12px 32px;
}

.button.inverted{
  background-color: #111111;
}

.button.rounded{
  border-radius: 5px;
}

.button.large{
    padding: 18px 40px;
    font-size: 20px;
}

.button.icon{
  padding:7px 9px;
}

.button.icon-circle{
  border-radius: 50%;
  padding:7px 9px;
}

/*Nav-css*/
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aaa;
    padding: 20px;
}

.li {
    float: left;
}

.li .a {
    display: block;
    color: black;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

.li .a:hover {
    color:white;
}
/*Nav-css end*/

/*Footer-css*/
.footer{
padding: 22px;
color: white;
background-color: #777777;
clear: left;
text-align: center;
font-family: sans-serif;
}
/*Footer-css end*/


/*Temp css*/

.ndpl-component__title, .ndpl-component__description {
    color: #303637;
}

.ndpl-page {
    color: #303637;
}
