<ul class="ul">
  <li class="li"><img src="Images/Logo.png" alt="Nav logo"></li>
  <li class="li"><a class="a" href="#home">Home</a></li>
  <li class="li"><a class="a" href="#about">About</a></li>
  <li class="li"><a class="a" href="#contact">Contact</a></li>
</ul>

<!-- Nav-Bar CSS
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aaa;
}

.li {
    float: left;
}

.li .a {
    display: block;
    color: black;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

.li .a:hover {
    color:white;
}-->
